<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Hello React!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>

<body>
  <div id="mainContainer"></div>
  <!-- Main -->
  <% for (const file of htmlWebpackPlugin.files.js) { %>
  <script src="/<%= file %>"></script>
  <% } %>
</body>

</html>
